* {
    /*applique à toute la page*/
    margin: 0;
    /*supprime le contour blanc*/
    font-family: "Comfortaa";
    /*ou "Prompt", j'ai importé 2 polices qui me plaisaient via google front*/
}

/*------------------------profil----------------------*/
.icon {
    color: #2f5394;
    font-size: 20px;
}

.nameUSER {
    font-weight: bold;
}

.logoUSER {
    height: 65px;
}

.profil {
    display: flex;
    height: 180px;
    align-items: center;
    justify-content: space-between;
    padding: 0 3%;
}

/*-----------------------------------------pop up mon compte ----------------------------------------------*/

.form-popup h2 {
    color: #2f5394;
}

.form-popup a {
    color: #fff;
    font-size: 20px;
}

.open-button {
    background-color: #d9c38f;
    cursor: pointer;
    height: 160px;
    width: 300px;
    border: none;
}

.open-button:hover {
    background-color: #ddcda7;
}

/* Positionnez la forme Popup */
.login-popup {
    position: absolute;
    text-align: center;
}

/* Masquez la forme Popup */
.form-popup {
    background-color: transparent;
    display: none;
    position: fixed;
    height: 100px;
    width: 300px;
    right: 0px;
    top: 0px;
    z-index: 9;
}

/* Styles pour le conteneur de la forme */
.form-container {
    max-width: 130px;
    padding: 20px;
    background-color: #d9c38f;
}

.btncancel {
    height: 30px;
    width: 130px;
    background-color: #fa52b49f;
    border: none;
    cursor: pointer;
}


/*----------------------------navigation barre------------------------------------*/

.navbar {
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* configure un éspace entre les items*/
    position: fixed;
    /*pendant le scroll, la barre reste fixe*/
    padding: 0 6%;
    left: 0;
    right: 0;
    background: rgb(255, 255, 255);
    /*J'ai ajouté de la transparence*/
    z-index: 6;
}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*aligne les items de gauche à droite et non de haut en bas -> pas de retour à la ligne*/

ul li {
    list-style: none;
    padding: 8px 20px 0 20px;
    font-size: 18px;
}

ul li::after {
    content: "";
    /*petite barre sous les items*/
    width: 0%;
    height: 2px;
    background: #335bb1;
    display: block;
    margin: auto;
}

ul li:hover::after {
    width: 100%;
}

ul li a {
    text-decoration: none;
    color: #d2af5a;
    text-transform: uppercase;
    font-weight: bold;
    transition: 0.4s ease-in-out;
    font-size: 25px;
    /*le temps de transition vers le bleu lorsque l'utilisateur passe la souris"*/
}

ul li a:hover {
    color: #077EC3;
}


.form>.btn a {
    text-decoration: none;
    transition: 0.3s ease;
}

.form .link {
    font-size: 17px;
    padding-top: 20px;
    text-align: center;
}

.form .link a {
    text-decoration: none;
    color: #2f5394;
}

/*------------------------------style formulaire------------------------------------*/

.creategroup {
    padding: 0 10%;
    /* marges éspacement des bords*/
    background: linear-gradient(
            /*fond de la première page dégradé*/
            to right,
            /* on peut aussi mettre to top, to right, to left*/
            #fff,
            #c38bbb 100%);
    height: 100vh;
    /*configure pour que la première page remplisse l'écran*/
    display: flex;
}

input {
    font-size: x-large;
    width: 350px;
    height: 40px;
    border: 0;
    border-bottom: solid 1px #2f5394;
}

select,
input {
    background-color: transparent;
    padding: 10px 10px;
}

select {
    border: 0;
    border-bottom: solid 1px #2f5394;
    font-size: large;
    background-color: rgba(255, 255, 255, 0.197);
}

input::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #ffffff;
    text-transform: uppercase;
}

/*------------------button style------------------------*/

.page1 button {
    background: #c38bbb;
    color: #fff;
    border: none;
    position: relative;
    height: 60px;
    font-size: 1.6em;
    padding: 0 2em;
    cursor: pointer;
    transition: 800ms ease all;
    outline: none;
}

.page1 button:hover {
    background: transparent;
    color: #2f5394;
}

.page1 button:before,
.page1 button:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 2px;
    width: 0;
    background: #c38bbb;
    transition: 400ms ease all;
}

.page1 button:after {
    right: inherit;
    top: inherit;
    left: 0;
    bottom: 0;
}

.page1 button:hover:before,
.page1 button:hover:after {
    width: 100%;
    transition: 800ms ease all;
}

/*-------------------------*/

button:focus,
input:focus,
textarea:focus {
    outline: none;
    box-shadow: none;
}

.menu {
    width: 85%;
}


.page1 {
    color: #fff;
    display: flex;
    margin: 20% 0;
    align-items: center;
}

.intro .text {
    padding-bottom: 100px;
    letter-spacing: 1.2px;
    line-height: 30px;
    font-weight: bold;
}

.quitter {
    margin-right: 500px;
}

.quitter p {
    color: #2f5394;
}

.invit button {
    width: 100%;
    border-radius: 4px;
    background-color: #2f5394;
    margin-bottom: 30px;
}

.annulinvit {
    background: rgba(255, 255, 255, 0.3);
    color: #2f5394;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 5px 5px 5px #9f9fa2;
    width: 600px;
    height: 60px;
    transition: 0.5s;
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-top: 20px;
}

.annulinvit:hover {
    box-shadow: none;
    transition: 0.5s;
}

.stat {
    margin-left: 10px;
    margin-right: 50px;
}

.annulinvit button {
    height: 30px;
    font-size: 1em;
    padding: 0 2em;
}

.cgroup h2 {
    color: #2f5394;
}

.cgroup {
    margin-right: 300px;
}

.cgroup input::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #2f52947a;
    text-transform: uppercase;
}

.zeroinvit {
    margin-left: 300px;
}



.invitationRecu {
    background: rgba(255, 255, 255, 0.3);
    color: #2f5394;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 5px 5px 5px #9f9fa2;
    width: 900px;
    height: 60px;
    transition: 0.5s;
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-top: 20px;
}

.invitationRecu:hover {
    box-shadow: none;
    transition: 0.5s;
}


.invitationRecu button {
    height: 30px;
    font-size: 1em;
    padding: 0 2em;
}

.try h2 {
    margin-top: 30px;
}